doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title=title
        link(rel="stylesheet", href="css/style.css")
        script(src="script/jquery-3.6.1.js") 
        link(rel="shorcut icon", href="images/favicon.png", type="image/x-icone")
    body 
        header
            h1 Salar de Uyuni : 우유니 사막
            p=message
        nav
            ul(id="gnb")
                li
                    a(href="/") 처음으로
                li
                    a(href="/tour") 하나투어
                li
                    a(href="/reserve") 예약/확인
                li
                    a(href="/cs") 고객센터
        div(class="container")
            button(type="button",id="reserve") 예약/확인
        div(class="views")
            img(src="images/welcome_1920.jpg", alt="landscape")
        script(src="script/main.js")
        hr
        footer
            div(class="container") 
                p &copy; minju. 2022. all rights reserved.
        script(src="script/main.js") 